<!DOCTYPE html>
<html>
	<head>
		<title>___</title>
		 <!-- Compiled and minified CSS -->
 		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

		  <!-- Compiled and minified JavaScript -->
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
		  <!--The jQuery-->
		  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		  <script src = "app.js"></script>
    	<style>      
		</style>				
	</head>
	<body>
		<div class = "container">
			<!--No columns specified for the navbar toolbar on top. Row only-->
			<div class = "row">

			</div>
			<div class = "row">
				<div class = "col s12">
					<h1>(App name TBD)</h1>
				</div>
			</div>
				<!--This is where the body of each page goes in.-->
				{{{body}}}
			<!--Like the navbar, there should not be column specifications for the footer.-->
			<footer>
			<p>This is a UCF Coding Bootcamp project by Bridget Bourne.</p>
			</footer>
		</div>

			
	</body>
</html>