

		<!--This is where user enters his/her own home and school/work address so that app can calculate commute distance/time between home/work and patient's house/hospital-->
		<form action = "./../server.js" name = "homeAddress">
			<input name = "address1" placeholder = "Address Line 1">
			<input name = "address2" placeholder = "Address Line 2">
			<input name = "city" placeholder = "City">
			<input name = "state" placeholder = "State">
			<input name = "country" placeholder = "Country">
			<input name = "zip" placeholder = "Zip Code (5-digit only)">
		</form>

		<!--Perhaps we'll want to automatically let country name of work and patient match that on the home address. I can't imagine user being of much help to patient if he/she lives needs to get through customs w/ a passport every day.-->
		<form action = "./../server.js" name = "workAddress">
			<input name = "address1" placeholder = "Address Line 1">
			<input name = "address2" placeholder = "Address Line 2">
			<input name = "city" placeholder = "City">
			<input name = "state" placeholder = "State">
			<input name = "country" placeholder = "Country">
			<input name = "zip" placeholder = "Zip Code (5-digit only)">
		</form>

		<form action = "./../server.js" name = "patientAddress">
			<input name = "address1" placeholder = "Address Line 1">
			<input name = "address2" placeholder = "Address Line 2">
			<input name = "city" placeholder = "City">
			<input name = "state" placeholder = "State">
			<input name = "country" placeholder = "Country">
			<input name = "zip" placeholder = "Zip Code (5-digit only)">
		</form>
		
		
		
	</div>
</div>

