<div class = "row">
	<div class = "col s12">
		<h2>Reminder Alert</h2>
	</div>
</div>

<!--This will caution the user when the supplies run short-->
<div class = "row">
	<div class = "col s12">
		<h3 class = "insertYellowishColorHere">Caution:</h3> 
		<p>(insert supply here) will last only (integer between 4 and 5) days at the rate of the regular dosage. Be prepared to refill supplies.</p>
	</div>
</div>

<!--This will appear when supplies are dangerously low.-->
<div class = "row">
	<div class = "col s12">
		<h3 class = "insertOrangishishColorHere">Warning:</h3> 
		<p>(insert supply here) will last only (integer between 1 and 3) day(s) at the rate of the regular dosage. Be prepared to refill supplies ASAP, especially if your local store closes all weekend.</p>
	</div>
</div>

<!--This will appear when supplies run out completely.-->
<div class = "row">
	<div class = "col s12">
		<h3 class = "insertRedishColorHere">Danger:</h3> 
		<p>Our databases tell us you are out of (insert supply here). Make sure to refill supplies ASAP!</p>
	</div>
</div>
<!--This will remind the patient of the therapeutic exercises-->
<div class = "row">
	<div class = "col s12">
		<h3 class = "insertGreenishColorHere">Time to get active and recover!</h3>
		<p></p>

		<!--This is where you would insert the timer according to the respective scheduled exercise. Some javascript will be required here. Review how to create timers.-->

	</div>
</div>
