<div class = "row">
	<div class = "col s12">
		<h2>Reminder Alert</h2>
	</div>
</div>

<!--This will caution the user when the supplies run short-->
<div class = "row">
	<div class = "col s12">
		<h3 onclick = "refill()" id = "caution" class = "insertYellowishColorHere">Caution:</h3> 
		<p id = "describeCaution">(insert supply here) will last only (integer between 4 and 5) days at the rate of the regular dosage. Be prepared to refill supplies.</p>
	</div>
</div>

<!--This will appear when supplies are dangerously low.-->
<div class = "row">
	<div class = "col s12">
		<h3 onclick = "refill()" id = "warning" class = "insertOrangishishColorHere">Warning:</h3> 
		<p id = "describeWarning">(insert supply here) will last only (integer between 1 and 3) day(s) at the rate of the regular dosage. Be prepared to refill supplies ASAP, especially if your local store closes all weekend.</p>
	</div>
</div>

<!--This will appear when supplies run out completely.-->
<div class = "row">
	<div class = "col s12">
		<h3 onclick = "refill()" id = "danger" class = "insertRedishColorHere">Danger:</h3> 
		<p id = "describeDanger">Our databases tell us you are out of (insert supply here). Make sure to refill supplies ASAP!</p>
	</div>
</div>
<div class = "row">
	<div class = "col s12">
	<!--This is where medicine and supplies can be measured according to initial amount and regular dosage/administration-->
		<form>
			<h4>Enter all your medical supply information here. When it runs short (5 days' worth and under) We will post an alert to you on the Reminder Alert page.</h4>

			<!--This first input is multiple choice-->
			<input name = "type" class = "what-type">Medicine, food (according to patient's special diet. This will be automatically added to the MealPlans DB, but we're clustering special diet needs with medical needs to emphasize importance of proper, regular intake.), disposable tool (bandages, etc)</input>
			<input name = "item">
			<input name = "startingCapacity">
			<input name = "dosage" placeholder = "dosage (amount/day)">

			<!--This is where medicines and dosages will be recorded for the reminder alert page to remind patient when to take medicine. Specified time and days are recommended, but not required. -->
			<input name = "scheduledReminder" placeholder = "Reminder Times (optional)">
		</form>

	</div>
</div>
<!--This will remind the patient of the therapeutic exercises-->
<div class = "row">
	<div class = "col s12">
		<h3 class = "insertGreenishColorHere">Time to get active and recover!</h3>
		<p></p>

		<!--This is where you would insert the timer according to the respective scheduled exercise. Some javascript will be required here. Review how to create timers.-->

	</div>
</div>
