		<h2>Shopping List</h2>
		<p>This should help you keep track of which items you still need to buy for your patient.</p> 

		<!--This is where we will insert the shopping list DB from the Shopping List model-->
		<div id = "shopping-list"></div>

		<br> While not at the top of the priority list, we advise also that you supply your patient with enough sedentary entertainment while he/she is laid up in bed and you need to be away for hours at a time (esp work). Coming home to a stir-crazy, depressed patient is no fun for anyone, and he/she will need a positive attitude to recover optimally. See if you can find ways to keep him/her distracted from the constant reminder of being confined to a single posture in a single room. Such ways can include movies, activity books, book-books, wall decorations, music, or anything else you might come up with. Use your own judgment here; you know your patient better than we do.